.container {
  height: 100vh;
  min-height: 100vh;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  &Inner {
    padding: 2rem;
  }
}

.me {
  max-width: 40rem;
  text-align: center;

  &Photo {
    border-radius: 50%;
  }

  &Name {
    font-size: 2.5rem;
    line-height: 1.15;
    margin: 1rem 0 0;
  }

  &Headline {
    color: rgba(#fff, 0.85);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 0.5rem 0;
  }

  &Description {
    font-size: 1rem;
    line-height: 1.35;
    margin: 2rem 0;
    color: rgba(#fff, 0.85);
  }

  @media (max-width: 480px) {
    &Name {
      font-size: 2rem;
    }

    &Headline {
      font-size: 1.2rem;
    }

    &Description {
      line-height: 1.5;
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  column-gap: 1rem;

  &Button {
    border-radius: 7px;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #141414;
      text-decoration: none;
    }
  }
}
